.page{
    height: 100%;
    width: 37.5rem;
    margin: 0 auto;
    position: relative;
}

.cads{

    .bgImg{
        position: absolute;
        top: 0;
        z-index: -1;
    }

    .photoCard{
        width: 100%;

        .cardBack,
        .cardFront{
            width: 26.6rem;
            height: 16.6rem;
        }

        .cardBack{
            margin: 3rem 0 0 9.5rem;
        }

        .cardFront{
            margin: -7.7rem 0 0 1.9rem;
        }
    }

}

form{
    padding: 2.4rem;
    width: 100%;
    background: #FBFBFB;

}

.inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 2.4rem;

    label{
        color: #524C56;
        margin-bottom: .5rem;
        font-size: 1.6rem;
    }

    input{
        padding: 1.3rem;
        border-radius: 1.2rem;
        color: #524C56;
        border: 1px solid #C6C1C7;
        font-weight: 700;
        font-size: 1.6rem;
    }

    ::-webkit-input-placeholder {
        color: #CACACC;
    }

    .error{
        border: 1px solid red;
    }
}


.allDates{
    display: flex;
    gap: 1rem;

    label{
        color: #524C56;
        margin-bottom: .5rem;
        font-size: 1.6rem;
    }

    .inputsDate{

        input{
            height: 4.4rem;
            border-radius: 8px;
            border: 1px solid #CACACC;
            padding-left: 2.4rem;
            font-size: 1.8rem;
            width: 100%;
        }

        ::-webkit-input-placeholder {
            color: #CACACC;
        }

        .error{
            border: 1px solid red;
        }

    }

}

.allDates .inputsDate:nth-child(3){
    width: 100%;
    input{
        width: 100%;
        padding-left: 1rem;
    }
}

.bntEnviar{
    margin-top: 3rem;
    height: 5rem;
    width: 100%;
    border-radius: 1rem;
    border: none;
    background: #220930;
    color: #ffff;
    font-size: 1.6rem;
}


.photo1{

    .numberCardBack{
        font-size: 1.5rem;
        position: absolute;
        top: 10.2rem;
        right: 5rem;
        color: #ffff;
    }
}

.photo2{
   // background: rgb(0,0,0);
    background: linear-gradient(180deg, transparent 50%, rgba(251,251,251,1) 75%, rgba(251,251,251,1) 100%);
}

.textCardFront{
    
    display: flex;
    flex-direction: column;
    color: #ffff;
    justify-content: space-between;

    .logoCard{
        height: 3rem;
        width: 5.5rem;
    }

    .cardNumber{
        font-size: 1.6rem;
    }

    p{
        font-size: 1.2rem;
    }

    .textName{
        display: flex;
        justify-content: space-between;
    }

    position: absolute;
    top: 14rem;
    left: 4rem;
    width: 225px;
    height: 13rem;
}

.ok{
    text-align: center;

    h1{
        margin: 2rem auto 3.2rem;
    }

    p{
        margin-bottom: 2rem;
    }
}

.alertInput{
    color: red;
    font-size: 1.3rem;
    margin-top: 2px;
}



//DeskTop

@media(min-width: 1020px){
    .page{
        display: flex;
        width: 100%;
        height: 100vh;
    }

    .cads{
        height: 100vh;
        width: 47.1rem;

        .bgImg{
            height: 100vh;
            width: 47.1rem;
        }
    }

    .photoCard{

        .photo1{
            position: absolute;
            bottom: 135px;
            right: 90rem;

            .cardBack{
                width: 350px;
                height: 200px;
            }

            .numberCardBack{
                top: 11.9rem;
            }
        }      

        .photo2{
            position: absolute;
            top: 22rem;
            left: 17rem;
            background: transparent;

            .cardFront{
                width: 350px;
                height: 200px;
            }
           
            .textCardFront{
                top: -6rem;
                height: 16rem;
                width: 30rem;
            }
        }
    }

    form{
        width: 108rem;
        padding: 20rem 35rem;
    }
}
